<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_youome_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_youome_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".ActivityDebtorIOUTransfer"/>
        <activity android:name="ActivityDebtorIOUAgreement"/>
        <activity android:name=".ActivityDebtorIOUSignature"/>
        <activity android:name=".ActivityDebtorIOU"/>
        <activity android:name=".ActivityIOUtransfer"></activity>
        <activity android:name=".ActivityDebtor" />

        <service
            android:name=".ServiceFCM"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ActivitySignUpPassward" />
        <activity android:name=".ActivityO2OFunding" />
        <activity android:name=".ActivityP2PFunding" />
        <activity android:name=".ActivityLoan_v2" />
        <activity android:name=".ActivityAddAccount" />
        <activity android:name=".ActivityTransfer" />
        <activity android:name=".ActivityChangeAccount" />
        <activity android:name=".ActivityIOU" />
        <activity android:name=".zzz_ActivityLoan" />
        <activity android:name=".ActivityAddLoan" />
        <activity android:name=".ActivityAlarm" />
        <activity
            android:name=".ActivityOmypay"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ActivitySignUp" />
        <activity android:name=".ActivityYOUOme" />
        <activity android:name=".main.ActivityMainLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>